ollama-postgres-rag-chatbot/code.json
{
  "name": "DField bot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -48,
        -480
      ],
      "id": "2159fb03-dc8d-41a3-9734-fab919b023b2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This tool performs semantic search over DField’s internal knowledge base stored in PostgreSQL using pgvector.\n\t•\tUse this tool whenever you need information about DField Solutions, our services, pricing, processes, portfolio, blog content, documentation, or any internal knowledge.\n\t•\tInput is a JSON object:\n{ \"query\": string, \"top_k\"?: number, \"filters\"?: object }\n\t•\tquery: the user’s question or a focused search phrase you generate\n\t•\ttop_k (optional): how many results to retrieve (default: 5)\n\t•\tfilters (optional): additional constraints, e.g. { \"language\": \"en\", \"type\": \"blog\" }\n\t•\tOutput is a JSON object:\n{ \"results\": [ { \"text\": string, \"score\": number, \"source\": string, \"metadata\"?: object } ] }\n\nYou must:\n\t•\tRead the text fields of the top results.\n\t•\tBase your answer only on these results.\n\t•\tIf the results are weak or unrelated, say clearly that the information is not available instead of guessing.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        944,
        -48
      ],
      "id": "dd34640b-b284-4cc6-a556-21807029bfda",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "Ge5ioie4GQfAHXWX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        944,
        96
      ],
      "id": "94ade276-5f82-4eea-aa4f-74184798f726",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "H8BK2U7LKd0g0kuW",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=",
        "options": {
          "systemMessage": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        880,
        -480
      ],
      "id": "80ac4ead-b3b9-4f39-9eff-8f8227e66aaf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        880,
        -304
      ],
      "id": "bc0f240c-0cea-4e5a-89d6-83f07f9d3441",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "H8BK2U7LKd0g0kuW",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.sessionId }}",
        "contextWindowLength": 12
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        976,
        -192
      ],
      "id": "82ee3cc8-3467-4f4c-b52e-056bfb8924a1",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "insert",
        "embeddingBatchSize": "=1000",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        272,
        -480
      ],
      "id": "c4c71c4c-c34d-421c-9190-49b7deb5ebaf",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "Ge5ioie4GQfAHXWX",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "pdfLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        416,
        -272
      ],
      "id": "e114f9bd-60d5-4b0d-8168-13905be94045",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        128,
        -480
      ],
      "id": "8e3c1c19-485e-42b6-81ec-56d21bff411f",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "content": "## Extracting from the document, embedding and storing the embeddings in a postgresql vector database",
        "height": 448,
        "width": 752
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -144,
        -592
      ],
      "typeVersion": 1,
      "id": "27e32af1-4502-4e41-acbb-fa7848668cc8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "##  Using the embedded data storage providing responses via telegram chat and its api",
        "height": 832,
        "width": 896
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        -592
      ],
      "typeVersion": 1,
      "id": "c4b69729-8e23-4867-b792-a483c6dd12c1",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        272,
        -288
      ],
      "id": "373ac3ac-3e4e-4559-86fb-785b03fa137c",
      "name": "Embeddings Ollama2",
      "credentials": {
        "ollamaApi": {
          "id": "H8BK2U7LKd0g0kuW",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.output;\n\n// Escape all MarkdownV2 special characters\nconst safe = raw.replace(/([_*[\\]()~`>#+\\-=|{}.!])/g, '\\\\$1');\n\nreturn {\n  json: {\n    text: safe,\n  },\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        -480
      ],
      "id": "42a165ef-3724-4ad5-ad0e-4c88f9829992",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        688,
        -480
      ],
      "id": "c31f78f5-7bcf-4cc4-b6ba-20ae9e6beda4",
      "name": "When chat message received",
      "webhookId": "e1b86a96-bebe-4cee-b098-4142ec86d36a"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "main": [
        []
      ]
    },
    "Embeddings Ollama2": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3b101423-fca9-481e-a6d8-edf03a6c929f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2eb7b074231faafb1026ad7f71648ee5beac76b041ce3a68aa6175cb940e266"
  },
  "id": "TGdjrtcS4mKb3RQW",
  "tags": []
}